.course {
    width: 400px;
    height: 600px;
    border: 1px solid lightgray;
    position: relative;
    text-align: center;
    padding-top: 10px;
    border-radius: 7px;
}

.course:hover {
    background-color: rgb(216, 242, 216);
}

.course img {
    width: 350px;
    border-radius: 7px;
}

.course-title {
    font-size: 26px;
    margin-top: 5px;
}

.course-price {
    margin: 0;
    font-size: 24px;
}

.course-description {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.course-btn {
    border: none;
    color: white;
    background-color: rgb(17, 7, 155);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    left: 0;
    border-radius: 0 0 7px 7px;
    text-decoration: none;
}