.courses-container {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


/***********************
    Responsive style
************************/

@media only screen and (max-width:692px) {
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
}